APP_NAME=EduQuiz
APP_ENV=production
APP_KEY=base64:MU1+KrZ68UoBB8qcPK2zusrO61OM8FPbZOOkOdNyag4=
APP_DEBUG=false
APP_URL=https://api-gw.eduquiz.vn
FRONTEND_URL=https://uat.eduquiz.vn

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=eduquiz_prod
DB_USERNAME=flashvps
DB_PASSWORD=TLGN7NSQSGFNZE

BROADCAST_DRIVER=pusher
CACHE_DRIVER=redis
FILESYSTEM_DISK=s3
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=""
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USERNAME=admin@pesthubt.com
MAIL_PASSWORD=nlbpfsljywinxhsn
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=admin@pesthubt.com
MAIL_FROM_NAME="${APP_NAME}"

# MAIL_MAILER=mailgun
# MAIL_HOST=smtp.mailgun.org
# MAIL_PORT=587
# MAILGUN_DOMAIN=sandbox9cf4bcea8b4943a4a22743b5d3e6502c.mailgun.org
# MAILGUN_SECRET=70af1eae6feba1b1d54820f247e2a368-381f2624-3f9310d9
# # MAIL_USERNAME=admin@pesthubt.com
# # MAIL_PASSWORD=1YDt7E6OAgnQIV2U
# MAIL_ENCRYPTION=tls
# MAIL_FROM_ADDRESS=admin@pesthubt.com
# MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=AKIA25FAHI5QTORHLZ4R
AWS_SECRET_ACCESS_KEY=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
AWS_DEFAULT_REGION=ap-southeast-1
AWS_REGION=ap-southeast-1
AWS_BUCKET=pesthubt
AW_VERSION=latest
AWS_CDN_DOMAIN=https://pesthubt.s3-ap-southeast-1.amazonaws.com/
URL_SIGNED_EXPIRE=60
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=1553913
PUSHER_APP_KEY=f21dfc2b4a8c04865af5
PUSHER_APP_SECRET=3c3d111218f90f5e2f30
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=ap1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
